{{>layout/Header}}
{{>layout/sideNav}}
{{>layout/ceiling}}
    <div>

        <div class="comparison-slider">
            <figure>
                <img src="https://raw.githubusercontent.com/TTOWA/images/main/img_comparisonslider_1.png" alt="before" />
                <figcaption>Before</figcaption>
            </figure>
            <figure>
                <img src="https://raw.githubusercontent.com/TTOWA/images/main/img_comparisonslider_2.png" alt="after" />
                <figcaption>After</figcaption>
            </figure>
        </div>




    </div>
{{>layout/floor}}

  </main>
{{>layout/sideSetting}}
{{>layout/Footer}}