{{>layout/startH}}
{{>layout/sideNav}}
{{>layout/ceilingStart}}

<!-- End Navbar -->
<div class="container-fluid py-4" style="padding-top: 0.5rem!important;">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4" style="height: 85px">
                        <h6 class="text-black text-capitalize ps-3"
                            style="font-size: 1.4rem;letter-spacing: 5px;margin-left: 35px;">원하는 클래스로 모델을 선택하세요 :)
                        </h6>
                    </div>
                </div>

                <div class="card-body px-0 pb-2">
                    <div class="input-group input-group-outline">
                        <label class="form-label" style="width: 98.1%">라벨명으로 검색</label>
                        <input type="text" id="searchInput" class="form-control" oninput="getAutoComplete()">
                        <div id="list-recom">
                            <div id="autocomplete-list"></div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <div class="table-responsive p-0 table-scrollable">
                            <table class="table align-items-center mb-0 table-fixed-header">

                                <thead class="labelThead text-white">
                                <tr>
                                    <th class="text-center text-uppercase text-s font-weight-bolder opacity-7">모델명</th>
                                    <th class="text-center text-uppercase text-s font-weight-bolder opacity-7">비용</th>
                                    <th class="text-center text-uppercase text-s font-weight-bolder opacity-7">라벨</th>
                                    <th class="text-center text-uppercase text-s font-weight-bolder opacity-7">라벨링 예시
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="originalList">
                                {{#start}}
                                    <tr class="text-center text-xxs font-weight-bolder">

                                        <td>
                                            <p class="text-s font-weight-bolder mb-0"></p>


                                            <a href="/goUpload?modelName={{modelName}}" class="model-link" data-model-idx="{{modelIdx}}">
                                                <p id="modelName">{{modelName}}</p>
                                            </a>


                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            무료
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="tooltip-container">
                                                <span id="text-className"
                                                      data-model-idx="{{modelIdx}}">{{firstClassName}} 등 {{classCount}}
                                                    개</span>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <button class="example-btn badge badge-sm bg-gradient-success"
                                                    data-model-name="{{modelName}}">예시 확인
                                            </button>
                                            <div class="image-list-container" id="image-list-{{modelIdx}}"></div>
                                        </td>
                                    </tr>
                                {{/start}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">


            </tr>
            </tbody>
            </table>

        </div>
    </div>
</div>
</div>

</div>
</main>
{{>layout/sideSetting}}

{{>layout/startF}}