<div class="row container-fluid" id="chartContainer">
    <div id="boxForChart" style="width: 550px;height: 600px;width: 50%;display: inline-block;">
    <canvas id="chartCanvas" class="chartImg" style="height: 500px; width: 500px;margin-top:30px;"></canvas>
    </div>
    <section id="chartTable" style="
                                        width: 50%;
                                        display: block;
                                        margin: 0px;
                                                                ">
        <!--for demo wrap-->
        <h1 style="margin-top: 79px; margin-left: 22px">프로젝트에서 식별된 클래스입니다.</h1>
        <div class="tbl-header" id="tableSpaceHeader">
            <table>

                <tr style="width: 150px;">
                    <th>클래스</th>
                    <th>식별수</th>
                </tr>

            </table>
        </div>
        <div class="tbl-content" id="tableSpaceBody" style="
    text-align: -webkit-center;"></div>
    </section>

</div>